.header {
    background-color: var(--cor-secundaria);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0.7;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header h1 {
    justify-content: flex-start;
}


.header-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 1rem;
}

.header-nav a {
    text-decoration: none;
    color: var(--cor-quaternaria);
}

.header-button{
    background: linear-gradient(to right, #8a2be2, #0000ff);
    color: aliceblue;
    height: calc(7vh - 2vh);
    width: 6em;
    white-space: nowrap;
    border-radius: 30%;
    border: none;
    padding: 1rem;
    text-align: center;
}



