.main-services-container{
    height: 70vh;
    width: 85vw;
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: nowrap;
}

.card{
    height: 60vh;
    width: 20vw; 
    max-width: 100%;
    background-color: var(--cor-principal);
    color: blueviolet;
    opacity: 0.8;
    border-radius: 20%;
    border: 1px solid #8a2be2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card img{
    margin-top: -5vh;
    margin-left: 2rem;
}


.card-img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-text{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: -5rem;
    margin-left: 2rem;
}

.card-text h2{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-align: center;
    color: var( --cor-quaternaria);
}



.card-text p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: aliceblue;
    font-style: italic;
    margin-top: 1rem;
}



@media screen and (min-width: 275px) and (max-width: 700px) {

    .main-services-container{
        flex-direction: column;
        height: 170vh;
        margin-top: 700px;
    }

    .card{
        width: 65vw;
    }

}

